.ui-droppable-hover {
    background-color: #086D94;
    padding: 20px 20px;
}

.profile-pic {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.task-tile {
    border-radius: 40px;
    min-height: 300px;
}

.main-tile {
    background-color: lightslategray;
}

.task-tile a {
    margin: 0px 10px;
}
