#modal {
    z-index: 2000;
}

.profile-pic {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.task-tile {
    border-radius: 40px;
    min-height: 200px;
    padding: 25px 10px;
}

#unassigned-count {
    color: #055472;
}

.task-tile a {
    margin: 0px 5px;
}

.task-row {
    z-index: 1001;
}

.task-list {
    min-height: 50%;
    border-radius: 25px;
}
