<div class="task-row d-inline-block col-10 border-dark mx-auto bg-secondary"
    data-task-id="{{task.id}}">
    <a href="#" role="button" alt="task information" id="info-popup"><i class="fas fa-info-circle text-dark"></i></a>
    {{task.name}}
    <a href="#" role="button" alt="Click to open Assign menu" id="assign-popup"><i class="fas fa-user-plus text-dark"></i></a>
    <a href="/tasks/finish" role="button" alt="Click to mark finished"><i class="fas fa-check text-success"></i></a>
    <a href="/tasks/finish" role="button" alt="Click to delete task"><i class="far fa-trash-alt text-danger"></i></a>
</div>