.medium-profile-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.small-profile-pic {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0.5;
}

.hide-me {
    opacity: 0;
    height: 0px;
    width: 0px;
}

input[type=checkbox]:checked + label .small-profile-pic {
    opacity: 1;
}

input[type=checkbox]:checked ~ label {
    font-weight: bold;
}
