.medium-profile-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.small-profile-pic {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0.5;
}

.hide-me {
    display: none;
}

input[type=checkbox]:checked .small-profile-pic {
    opacity: 1;
}